*{
	box-sizing:border-box;
	margin:0;
	padding:0;
}
body{
	background:url('sfondo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	
}
#titolo{
	text-align:center;
	color:#3a251a;
	font-family:Brush Script MT;
	font-size:40;
}
#contenuto img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding:20;
	width: 42%;
}
#contenuto p{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding:20;
	width: 42%;
}
#modifica{
	float:left;
	margin:150 0 0 550;
	padding:10 10;
	min-height:200;
	width:300;
	background:#3a251a;
	color:white;
	text-align:center;
	
}
#login{
	float:left;
	margin:200 100 0 400;
	padding:10 10;
	min-height:200;
	width:300;
	background:#3a251a;
	color:white;
	text-align:center;
}
#registrazione{
	float:right;
	margin:140 400 0 100;
	padding:5 5;
	height:480;
	width:300;
	background:#3a251a;
	color:white;
	text-align:center;
}
.bottone{
	background-color:#6b5545;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.bottone:hover {opacity: 1}

#sfondo {
	background:url('note.jpg');
	height:720px;
	width:100%;
	background-repeat: no-repeat;
	background-size: 100% 760px;
	text-align:center;
}
#sfondodue {
	background:url('cuci.jpg');
	height:720px;
	width:100%;
	background-repeat: no-repeat;
	background-size: 100% 760px;
	text-align:center;
}
#footer{
	top:815;
	width:100%;
	height:120;
	position:absolute;
	background-color:white;
	color:#4c4c73;
	display:block;
	float:left; 
	padding:20px 100px 0 100px;
}
#footer li{
	display:inline;
	margin:5px;
	font-family: Gill Sans, sans-serif;
	font-size:13px;
}
#footer img{
	height:35px;

}

#footerDue{
	width:100%;
	height:100;
	position:relative;
	background-color:white;
	color:#4c4c73;
	display:block;
	float:left; 
	padding:20px 90px 0 100px;
}
#footerDue li{
	display:inline;
	margin:5px;
	font-family: Gill Sans, sans-serif;
	font-size:13px;
}
#footerDue img{
	height:35px;

}

#imguno{
	position: absolute;
	top:70px;  
	width:35%;
}
#imgdue {
  position: absolute;
  right: 10px;
  top:70px;  
}
#centro{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#frecciasx{
	width:50;
	height:50;
}
#frecciadx{
	width:50;
	height:50;
}


.elencoCartaceo{
	max-width:30%;
	float:left;
	margin:2.5%;
	margin-top:7%;
	text-align:center;
	border-radius: 25px;
	border: 1px solid brown;
	background-color:white;
}
.elencoCartaceo h1{
	font-family:Lucida Handwriting;
}
.elencoCartaceo p{
	font-family:Papyrus;
	font-size:22;
}
.elencoCartaceo img{
	width:100%;
	height:40%;
	border-radius: 25px;
}

.elencoDigitali{
	max-width:30%;
	float:left;
	margin:2.5%;
	margin-top:7%;
	text-align:center;
	border-radius: 25px;
	border: 1px solid brown;
	background-color:white;
}
.elencoDigitali h1{
	font-family:Lucida Handwriting;
}
.elencoDigitali p{
	font-family:Papyrus;
	font-size:22;
}
.elencoDigitali img{
	width:100%;
	height:40%;
	border-radius: 25px;
}


#utente{
	position:absolute;
	display:block;
	top:150;
	left:20;
	text-align:center;
	color:#3a251a;
	font-family:Brush Script MT;
	font-size:20;
}
.elencoCliente{
	position:relative;
	display:block;
	left:390;
	max-width:40%;
	margin-top:10%;
	text-align:center;
	border-radius: 25px;
	border: 1px solid brown;
	background-color:white;
}
.elencoCliente h1{
	font-family:Lucida Handwriting;
}
.elencoCliente p{
	font-family:Papyrus;
	font-size:20;
	padding:10;
}
#modPag{
	color:#3a251a;
}

#drop-menu {
	width:100%;
	position:absolute;
	height:100px;
}
#menu{
	width:100%;
	background-color:#3a251a;
}
ul#menu {
	position:absolute;
	list-style: none;
	float:left;
	background-color:#3a251a;
	font-size:80%;

}

ul#menu li {
	float:left;
	display: block;
	border-right: 2px solid #3a251a;
	position: relative;
}

ul#menu li a {
	float: left;
	padding:12px 81px;
	color: white;
	text-transform: uppercase;
	text-decoration:none;
}
ul#menu li p {
	float: left;
	padding:12px 81px;
	color: white;
	text-transform: uppercase;
	text-decoration:none;
}

ul#menu li a:hover {
	background: #6b5545;
	color:#fff
}
ul#menu li p:hover {
	background: #6b5545;
	color:#fff
}

ul#menu ul {
	width:250px;
	margin:2px 0 0;
	display:inline-block;
	list-style: none;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 38px;
	left: 0;
	z-index:9999;
	background: #3a251a;
	border: 1px solid;
}

ul#menu li:hover ul {
	opacity: 1;
	visibility: visible;
}

ul#menu ul li {
	float: none;
	display: block;
	border: 0;
}

ul#menu ul a {
	padding:10px;
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
}
ul#menu ul p {
	padding:10px;
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
}

ul#menu ul a:hover {
	background-color: #6b5545;
	color:#fff
}

ul#menu ul p:hover {
	background-color: #6b5545;
	color:#fff
}
#contenuto{
	position:relative;
	display:block;
	top:100;
}
#testo{
	margin:200 auto;
	width: 60%;
	border: 3px solid white;
	padding: 10px;
	text-align:center;
	background:white;
	font-family:Brush Script MT;
	font-size:25;
}

#inserisciAtt{
	margin: 300 auto;
	width: 50%;
	border: 3px solid brown;
	padding: 10px;
	text-align:center;
	border-radius: 25px;
	background-color:white;
}

.activedue{
	background:#a1887f;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #553b32;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.fade img{
  width:50%
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


@media only screen and (max-width: 1366px){
    /*Tablets [601px -> 1200px]*/
	.elencoCartaceo{
		margin:3%;
		margin-top:6%;
	}
	.elencoCartaceo img{
		height:40%;
	}

	.elencoDigitali{
		margin:3%;
		margin-top:6%;
	}
	.elencoDigitali img{
		height:40%;
	}
	
	#login{
		margin:200 50 0 300;
	}
	#registrazione{
		float:right;
		margin:140 300 0 50;
	}


	ul#menu li a {
		padding:12px 60px;
	}
	ul#menu li p {
		padding:12px 60px;
	}
	
	#imguno{ 
		width:35%;
	}
	#imgdue {
	  right: 0px;
	}
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */