* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #BA793F;
    padding: 20px;
}

#main {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

#title{
  font-family: Georgia, serif;
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
  text-transform: capitalize;
  color: #333;
}

header p {
    font-size: 1.2em;
    color: #666;
}

#image{
  max-width:100%;
  height:auto;
  display:block;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin:auto;
}


#img-caption{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  color: #666;
}

#tribute-info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
    flex: 1;
    font-size: 1.1em;
    color: #333;
}

.clearfix:after {
clear: both;
content: " ";
display: block;
font-size: 0;
height: 0;
visibility: hidden;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }